aerich==0.5.3
aiocache==0.11.1
aioredis==1.3.1
aiosqlite==0.16.1
async-timeout==3.0.1
asyncpg==0.23.0
backcall==0.2.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
ddlparse==1.9.0
decorator==5.0.9
dictdiffer==0.8.1
fastapi==0.65.1
h11==0.12.0
hiredis==2.0.0
httptools==0.1.2
idna==2.10
install==1.3.4
ipython==7.23.1
ipython-genutils==0.2.0
iso8601==0.1.14
jedi==0.18.0
matplotlib-inline==0.1.2
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.18
ptyprocess==0.7.0
py-bcrypt==0.4
pydantic==1.8.2
Pygments==2.9.0
pyparsing==2.4.7
pypika-tortoise==0.1.1
python-dotenv==0.17.1
python-multipart==0.0.5
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
six==1.16.0
starlette==0.14.2
tortoise-orm==0.17.4
traitlets==5.0.5
typing-extensions==3.10.0.0
urllib3==1.26.4
uvicorn==0.13.4
uvloop==0.15.2
watchgod==0.7
wcwidth==0.2.5
websockets==8.1
