.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errormsg {
    font-size: 12px;
    color: rgb(146, 10, 51);
    max-width: 160px;
    word-wrap: break-word;
    margin-top: 8px;
    margin-bottom: 8px;
}