.series {
    margin: 32px;
    position: relative;
    &__title {
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 8px;
    }
    &__button-left, &__button-right {
        position: absolute;
        height: 220px;
        z-index: 1;
        border: none;
        fill: #2d403faf;
        background-color: unset;
    }
    &__button-left {
        left: -32px;
        transform: scale(-1, 1);
    }
    &__button-right {
        right: -32px;
        top: 36px;
    }
}

.carrousel {
    display: flex;
    flex-direction: row;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(135%);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(55, 83, 100, 0.08);
    overflow-x: scroll;
}

.episode-preview {
    display: flex;
    flex-direction: column;
    margin: 8px;
    a {
        text-decoration: none;
        color: inherit;
    }
    &__title {
        font-size: 14px;
        max-width: 320px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: 8px;
    }
    &__thumbnail {
        width: 320px;
        height: 160px;
        object-fit: cover;
        border-radius: 4px;
        // filter: hue-rotate(130deg) saturate(110%);
    }
}